 <!-- Page contents
 list of all trips
links to edit & Delete
add a new trip-->

<section>
  <ul>
    <li>
      Name: <%= @passenger.name %>
    </li>
    <li>
      Phone Number: <%= @passenger.phone_num %>
      Total Spent $<%=@passenger.total_spent%>
    </li>
    <li>
      Request Ride
    </li>
  </ul>


</section>


<section>
  <h2>Passenger Trips</h2>

  <ul class="trips_table">
    <li>
      ID
    </li>
    <li>
      Date
    </li>
    <li>
      Driver
    </li>
    <li>
      Rating
    </li>
    <li>
      Cost
    </li>
    <li>

    </li>

    <%@passenger.trips.each do |trip|%>
    <li>
      <%= trip.id %>
    </li>
    <li>
      <%= trip.date %>
    </li>
    <li>
      <%= trip.driver_id %>
    </li>
    <li>
      <%= trip.rating %>
    </li>
    <li>
      $<%= trip.cost/100 %>
    </li>
      <button>
        <%= link_to('Delete',passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"})%>
      </button>
    <%end%>


  </ul>

</section>
