<h2><%= @driver.name %></h2>

<p>
  VIN: <%= @driver.vin %>
</p>

<section>
  <h3>Driver Trips</h3>

  <table>
    <tr>
      <th>
        <strong>Id</strong>
      </th>
      <th>
        <strong>Date</strong>
      </th>
      <th>
        <strong>Driver_id</strong>
      </th>
      <th>
        <strong>Cost</strong>
      </th>
      <th>
        <strong>Rating</strong>
      </th>
    </tr>
    <% @driver.trips.each do |trip| %>
    <tr>
      <td>
        <%= trip.id %>
      </td>
      <td>
        <%= trip.date %>
      </td>
      <td>
        <%= trip.driver_id %>
      </td>
      <td>
        $<%= trip.cost %>
      </td>
      <td>
        <%= trip.rating %>
      </td>
    </tr>
    <% end %>
  </table>
</section>
