<h2><%= @driver.name %></h2>

<p>
  VIN: <%= @driver.vin %>
</p>

<section>
  <h3>Driver Trips</h3>

  <ul>
    <% @driver.trips.each do |trip| %>

    <li>
      <strong>Id</strong> <%= trip.id %>
    </li>
    <li>
      <strong>Date </strong><%= trip.date %>
    </li>
    <li>
      <strong>Driver_id</strong> <%= trip.driver_id %>
    </li>
    <li>
      <strong>Rating</strong> <%= trip.rating %>
    </li>
    <li>
      <strong>Cost</strong> $<%= trip.cost/100 %>
    </li>

    <% end %>
  </ul>
</section>
