<!-- Page contents
list of all drivers
links to edit & delete -->

<section>
  <h2 class="details"><%= @driver.name %></h2>

  <ul class="driver_details">
    <li>
      <strong>Model:</strong> <%= @driver.car_model %>
    </li>
    <li>
      <strong>Total Earnings:</strong> $<%=@driver.total_revenue%>
    </li>
    <li>
      <strong>Avg Rating:</strong> <%=@driver.average_rating%>
    </li>
  </ul>

</section>

<section>
  <h3 class="details">Driver Trips</h3>

  <table class="trips_table">
    <tr>
      <th>
        <strong>ID</strong>
      </th>
      <th>
        <strong>Date</strong>
      </th>
      <th>
        <strong>Driver_id</strong>
      </th>
      <th>
        <strong>Passenger</strong>
      </th>
      <th>
        <strong>Cost</strong>
      </th>
      <th>
        <strong>Rating</strong>
      </th>
    </tr>
    <% @driver.trips.each do |trip| %>
    <tr>
      <td>
        <%= link_to(trip.id, trip_path(trip)) %>
      </td>
      <td>
        <%= trip.date.strftime("%b %d, %Y") %>
      </td>
      <td>
        <%= trip.driver.id%>
      </td>
      <td>
        <%= trip.passenger.name%>
      </td>
      <td>
        $<%= trip.cost/100 %>
      </td>
      <td>
        <%= trip.rating %>
      </td>
      <td>
        <button class="button-selects">
          <%= link_to("Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure?" }) %>
        </button>
      </td>
    </tr>

    <% end %>
  </table>
</section>
